[Desktop Entry]
Type=Service
Exec=blubb
Comment=This plugin provides a frontend for Erlang debugger
Comment[ca]=Aquest connector proveeix d'un frontal per Erlang debugger
Comment[ca@valencia]=Este connector proveeix d'un frontal per Erlang debugger
Comment[en_GB]=This plugin provides a frontend for Erlang debugger
Comment[es]=Este complemento proporciona una interfaz para Erlang debugger.
Comment[et]=Erlang debuggeri kasutajaliidese plugin
Comment[fr]=Ce module externe fournit une interface pour Erlang debugger
Comment[ga]=Soláthraíonn an breiseán seo comhéadan ar Erlang debugger
Comment[gl]=Esta extensión fornece unha interface para Erlang debugger
Comment[it]=Questa estensione fornisce un'interfaccia per Erlang debugger
Comment[nds]=Dit Moduul stellt en Böversiet för Erlang debugger praat.
Comment[pt]=Este 'plugin' oferece uma interface para o Erlang debugger
Comment[pt_BR]=Este plug-in fornece uma interface para o Erlang debugger
Comment[sv]=Insticksprogrammet tillhandahåller ett gränssnitt för Xdebug
Comment[tr]=Bu eklenti Erlang debugger için bir önuç sağlar
Comment[uk]=Цей додаток є оболонкою до Erlang debugger
Comment[x-test]=xxThis plugin provides a frontend for Erlang debuggerxx
Name=Erlang debugger Support
Name[ca]=Implementació de Erlang debugger
Name[ca@valencia]=Implementació de Erlang debugger
Name[en_GB]=Erlang debugger Support
Name[es]=Implementación de Erlang debugger
Name[et]=Erlang debuggeri toetus
Name[fr]=Prise en charge de Erlang debugger
Name[ga]=Tacaíocht Erlang debugger
Name[gl]=Soporte de Erlang debugger
Name[it]=Supporto per Erlang debugger
Name[nds]=Erlang debugger-Ünnerstütten
Name[pt]=Suporte ao Erlang debugger
Name[pt_BR]=Suporte a Erlang debugger
Name[sv]=Xdebug-stöd
Name[tr]=Erlang debugger Desteği
Name[uk]=Підтримка Erlang debugger
Name[x-test]=xxErlang debugger Supportxx
GenericName=Debugger Frontend
GenericName[ca]=Frontal del depurador
GenericName[ca@valencia]=Frontal del depurador
GenericName[de]=Oberfläche für Debugger
GenericName[en_GB]=Debugger Frontend
GenericName[es]=Interfaz del depurador
GenericName[et]=Siluri kasutajaliides
GenericName[fr]=Interface du débogueur
GenericName[ga]=Comhéadan Dífhabhtóra
GenericName[gl]=Interface para o depurador
GenericName[it]=Interfaccia debugger
GenericName[ja]=デバッガのフロントエンド
GenericName[nds]=Fehlersöker-Böversiet
GenericName[pt]=Interface do Depurador
GenericName[pt_BR]=Interface do depurador
GenericName[sv]=Avlusargränssnitt
GenericName[tr]=Hata Ayıklayıcı Önucu
GenericName[uk]=Клієнтська програма зневадника
GenericName[x-test]=xxDebugger Frontendxx

Icon=debugger
X-KDE-Library=kdeverldebug
X-KDevelop-Category=Global
X-KDevelop-Version=9
X-KDE-PluginInfo-Name=kdeverldebug
X-KDE-PluginInfo-License=GPL
ServiceTypes=KDevelop/Plugin
X-KDevelop-Interfaces=org.kdevelop.IRunProvider
X-KDevelop-IRequired=org.kdevelop.IExecutePlugin
X-KDevelop-Mode=GUI
