[Desktop Entry]
Type=Service
Exec=blubb
Comment=This plugin provides a frontend for Erlang debugger
Comment[es]=Este complemento proporciona una interfaz para el depurador de Erlang.
Comment[pt]=Este 'plugin' oferece uma interface para o depurador de Erlang
Comment[pt_BR]=Este plug-in fornece uma interface para o depurador Erlang
Comment[sv]=Insticksprogrammet tillhandahåller ett gränssnitt för Erlang avlusare
Comment[uk]=Цей додаток є оболонкою до зневадника Erlang
Comment[x-test]=xxThis plugin provides a frontend for Erlang debuggerxx
Name=Erlang debugger Support
Name[es]=Implementación del depurador de Erlang
Name[pt]=Suporte para o Depurador de Erlang
Name[pt_BR]=Suporte para a depurador Erlang
Name[sv]=Stöd för Erlang avlusare
Name[uk]=Підтримка зневадника мови Erlang
Name[x-test]=xxErlang debugger Supportxx
GenericName=Debugger Frontend
GenericName[ca]=Frontal del depurador
GenericName[ca@valencia]=Frontal del depurador
GenericName[de]=Oberfläche für Debugger
GenericName[en_GB]=Debugger Frontend
GenericName[es]=Interfaz del depurador
GenericName[et]=Siluri kasutajaliides
GenericName[fr]=Interface du débogueur
GenericName[ga]=Comhéadan Dífhabhtóra
GenericName[gl]=Interface para o depurador
GenericName[it]=Interfaccia debugger
GenericName[ja]=デバッガのフロントエンド
GenericName[nds]=Fehlersöker-Böversiet
GenericName[pa]=ਡੀਬੱਗਰ ਫਰੰਟਐਂਡ
GenericName[pt]=Interface do Depurador
GenericName[pt_BR]=Interface do depurador
GenericName[sv]=Avlusargränssnitt
GenericName[tr]=Hata Ayıklayıcı Önucu
GenericName[uk]=Клієнтська програма зневадника
GenericName[x-test]=xxDebugger Frontendxx

Icon=debugger
X-KDE-Library=kdeverldebug
X-KDevelop-Category=Global
X-KDevelop-Version=9
X-KDE-PluginInfo-Name=kdeverldebug
X-KDE-PluginInfo-License=GPL
ServiceTypes=KDevelop/Plugin
X-KDevelop-Interfaces=org.kdevelop.IRunProvider
X-KDevelop-IRequired=org.kdevelop.IExecutePlugin
X-KDevelop-Mode=GUI
