[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Erlang Language Support
Comment[ca]=Implementació del llenguatge Erlang
Comment[en_GB]=Erlang Language Support
Comment[es]=Implementación de lenguaje PHP
Comment[fr]=Prise en charge du langage PHP
Comment[nl]=Ondersteuning voor PHP-taal
Comment[pt]=Suporte à Linguagem PHP
Comment[pt_BR]=Suporte à linguagem PHP
Comment[ro]=Suport pentru limbajul PHP
Comment[sv]=Stöd för språket PHP
Comment[uk]=Підтримка мови PHP
Comment[x-test]=xxErlang Language Supportxx
Comment[zh_CN]=Erlang 语言支持
Comment[zh_TW]=PHP 語言支援
Name=KDevErlangSupport
Name[ca]=KDevErlangSupport
Name[de]=KDevErlangSupport
Name[en_GB]=KDevErlangSupport
Name[es]=KDevErlangSupport
Name[fr]=KDevErlangSupport
Name[nl]=KDevErlangSupport
Name[pt]=KDevErlangSupport
Name[pt_BR]=KDevErlangSupport
Name[sv]=KDevelop PHP-stöd
Name[uk]=KDevErlangSupport
Name[x-test]=xxKDevErlangSupportxx
Name[zh_CN]=KDevErlangSupport
Name[zh_TW]=KDevErlangSupport
GenericName=Erlang Support
GenericName[ca]=Implementació de Erlang
GenericName[cs]=Podpora php
GenericName[en_GB]=Erlang Support
GenericName[es]=Implementación de PHP
GenericName[fr]=Prise en charge de PHP
GenericName[nl]=Ondersteuning voor PHP
GenericName[pt]=Suporte para PHP
GenericName[pt_BR]=Suporte a PHP
GenericName[ro]=Suport pentru PHP
GenericName[sv]=PHP-stöd
GenericName[uk]=Підтримка PHP
GenericName[x-test]=xxErlang Supportxx
GenericName[zh_CN]=Erlang 支持
GenericName[zh_TW]=PHP 支援
ServiceTypes=KDevelop/Plugin
Icon=source
X-KDE-Library=kdeverlanglanguagesupport
X-KDevelop-Version=8
X-KDevelop-Language=Erlang
X-KDevelop-Args=Erlang
X-KDevelop-Interfaces=ILanguageSupport
X-KDevelop-SupportedMimeTypes=text/x-erlang
X-KDE-PluginInfo-Name=KDevErlangSupport
X-KDevelop-Mode=NoGUI
