[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Erlang Language Support
Name=KDevErlangSupport
GenericName=Erlang Support
ServiceTypes=KDevelop/Plugin
Icon=source
X-KDE-Library=kdeverlanglanguagesupport
X-KDevelop-Version=8
X-KDevelop-Language=Erlang
X-KDevelop-Args=Erlang
X-KDevelop-Interfaces=ILanguageSupport
X-KDevelop-SupportedMimeTypes=text/x-erlang
X-KDE-PluginInfo-Name=KDevErlangSupport
X-KDevelop-Mode=NoGUI
