[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Erlang Language Support
Comment[en_GB]=Erlang Language Support
Comment[es]=Implementación de lenguaje Erlang
Comment[pt]=Suporte para a Linguagem Erlang
Comment[pt_BR]=Suporte para a linguagem Erlang
Comment[sv]=Stöd för språket Erlang
Comment[uk]=Підтримка мови Erlang
Comment[x-test]=xxErlang Language Supportxx
Name=KDevErlangSupport
Name[en_GB]=KDevErlangSupport
Name[es]=KDevErlangSupport
Name[pa]=KDevErlangSupport
Name[pt]=KDevErlangSupport
Name[pt_BR]=KDevErlangSupport
Name[sv]=KDevelop Erlang-stöd
Name[uk]=KDevErlangSupport
Name[x-test]=xxKDevErlangSupportxx
GenericName=Erlang Support
GenericName[en_GB]=Erlang Support
GenericName[es]=Implementación de Erlang
GenericName[pt]=Suporte a Erlang
GenericName[pt_BR]=Suporte a Erlang
GenericName[sv]=Erlang-stöd
GenericName[uk]=Підтримка Erlang
GenericName[x-test]=xxErlang Supportxx
ServiceTypes=KDevelop/Plugin
Icon=source
X-KDE-Library=kdeverlanglanguagesupport
X-KDevelop-Version=9
X-KDevelop-Language=Erlang
X-KDevelop-Args=Erlang
X-KDevelop-Interfaces=ILanguageSupport
X-KDevelop-SupportedMimeTypes=text/x-erlang
X-KDE-PluginInfo-Name=KDevErlangSupport
X-KDevelop-Mode=NoGUI
